.box {
    cursor: pointer;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    transition: 0.4s;
}

.box:hover{
  background: linear-gradient(317deg, #1e2024, #23272b);
  transition: 0.4s;
}


.socialIcon {
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #2c3034, -10px -10px 19px #272c31;
    transition: 0.4s;
}

.socialIcon:hover {
    background: linear-gradient(317deg, #1e2024, #23272b);
    transition: 0.4s;
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .h-webkit-fill-available {
        height: -webkit-fill-available;
    }
}
