*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    
}

body{
    transition: all 1s ease-out;
}

#pointer-ring{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border: 2px solid #ff0202;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 1s ease-out;
    transition-property: width, height, border-color,transition;
    z-index: 10000;
}

#pointer-dot{
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #ff0202;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition-property: width, height, background-color;
    z-index: 10000;
}

.sidebar{
    width: 15%;
}
